@font-face {
  font-family: "Hubot Sans";
  src: url("/fonts/Hubot-Sans.woff2") format("woff2 supports variations"),
    url("/fonts/Hubot-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hubot Sans", sans-serif;
}
